<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body>



				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="./../portfolio.html">Portfolio</a></li>
              <li><a href="./../statistics.html">Statistics</a></li>
							<li><a href="./../reading-list.html">Books</a></li>
							<li><a href="./../coding-challenge-solutions.html">Coding Solutions</a></li>
              <li><a href="./../login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>Arrays: Left Rotation</h2>
						<h6>Hackerrank > Cracking The Coding Interview > Arrays: Left Rotation</h6>
						<p>A left rotation operation on an array of size shifts each of the array's elements unit to the left. Given an array of integers and a number, perform left rotations on the array. Then print the updated array as a single line of space-separated integers.</p>
						<b>Input format</b><br/>
						<ul>
							<li>The first line contains two space-separated integers denoting the respective values of  (the number of integers) and  (the number of left rotations you must perform).</li>
							<li>The second line contains  space-separated integers describing the respective elements of the array's initial state.</li>
						</ul><br/>
							<h4>Solution</h4>
							<pre><code>
process.stdin.resume();
process.stdin.setEncoding('ascii');

var input_stdin = "";
var input_stdin_array = "";
var input_currentline = 0;

process.stdin.on('data', function (data) {
    input_stdin += data;
});

process.stdin.on('end', function () {
    input_stdin_array = input_stdin.split("\n");
    main();
});

function readLine() {
    return input_stdin_array[input_currentline++];
}

function main() {
    var n_temp = readLine().split(' ');
    var n = parseInt(n_temp[0]);
    var k = parseInt(n_temp[1]);
    a = readLine().split(' ');
    a = a.map(Number);

    /////////////// start coding here ////////////////////

    var i = k;
    if (k > n) {
        i = k % n;
    }
    console.log([a.splice(i, n).join(' ')].concat(a).join(' '));

    /////////////// end coding here ////////////////////

}

// SECOND SOLUTION

function main() {
    var n_temp = readLine().split(' ');
    var n = parseInt(n_temp[0]);
    var k = parseInt(n_temp[1]);
    a = readLine().split(' ');
    a = a.map(Number);

    var ints = n;
    var rotations = k;
    var arr = a;
    var run = function () {
        var a = arr.splice(0, 1);
        arr = arr.concat(a);
    }
    for (let i=2; i<=n; i++) {
        run();
    }
    console.log(parseFloat(arr.join().replace(/,/g, "")));

}
							</code></pre>
					</div>
					</header>
							<!-- Footer -->
							<section id="footer">
								<div align="center">
									<h4><a href="../../view/coding-challenge-solutions.html">More Solutions</a></h4>
									<h4>Next Solution</h4>
									<h4><a href="../../index.html">Homepage</a></h4>
								</div>
							</section>

					</div>


			</body>
		</html>
