<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body>



				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
				<nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="./../portfolio.html">Portfolio</a></li>
              <li><a href="./../statistics.html">Statistics</a></li>
							<li><a href="./../reading-list.html">Books</a></li>
							<li><a href="./../coding-challenge-solutions.html">Coding Solutions</a></li>
              <li><a href="./../login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>Write a function that prints out the binary form of an int</h2>
						<br/>
						<pre><code>
function dec2bin(dec){
	return (dec >>> 0).toString(2);
}
						</code></pre>
						<i>https://stackoverflow.com/questions/9939760/how-do-i-convert-an-integer-to-binary-in-javascript</i>
						<blockquote>You can use Number.toString(2) function, but it has some problems when representing negative numbers. For example, (-1).toString(2) output is "-1". To fix this issue, you can use the unsigned right shift bitwise operator (>>>) to coerce your number to an unsigned integer. If you run (-1 >>> 0).toString(2) you will shift your number 0 bits to the right, which doesn't change the number itself but it will be represented as an unsigned integer. The code above will output "11111111111111111111111111111111" correctly.</blockquote>
						<pre><code>-3 >>> 0 (right logical shift) coerces its arguments to unsigned integers, which is why you get the 32-bit two's complement representation of -3.</code></pre>
						<h3>Note 1</h3>
						this answer expects a Number as argument, so convert your accordingly.
						<h3>Note 2</h3>
						the result is the a string without leading zeros, so zero pad accordingly.

					</div>
					</header>
							<!-- Footer -->
							<section id="footer">
								<div align="center">
									<h4><a href="../../view/coding-challenge-solutions.html">More Solutions</a></h4>
									<h4>Next Solution</h4>
									<h4><a href="../../index.html">Homepage</a></h4>
								</div>
							</section>

					</div>


			</body>
		</html>
