<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body>



				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
				<nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="./../portfolio.html">Portfolio</a></li>
              <li><a href="./../statistics.html">Statistics</a></li>
							<li><a href="./../reading-list.html">Books</a></li>
							<li><a href="./../coding-challenge-solutions.html">Coding Solutions</a></li>
              <li><a href="./../login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>Find the next perfect square</h2>
						<h6>Codewars question</h6>
						<p>Complete the findNextSquare method that finds the next integral perfect square after the one passed as a parameter. Recall that an integral perfect square is an integer n such that sqrt(n) is also an integer.</p>
						<p>If the parameter is itself not a perfect square, than -1 should be returned. You may assume the parameter is positive.</p>
							<pre><code>
function findNextSquare(sq){
    var root1;
    var nextroot;
    if(Math.sqrt(sq)%1 ===0){
         root1=Math.sqrt(sq)
         nextroot=root1+1
    }else{
        return -1;
    }
    return nextroot*nextroot;
}

// Sample tests
findNextSquare(9) // 16
findNextSquare(16) // 25
findNextSquare(121) // 144
findNextSquare(625) // 676
findNextSquare(319225) // 320356
findNextSquare(15241383936) // 15241630849

							</code></pre>
					</div>
					</header>
							<!-- Footer -->
							<section id="footer">
								<div align="center">
									<h4><a href="../../view/coding-challenge-solutions.html">More Solutions</a></h4>
									<h4>Next Solution</h4>
									<h4><a href="../../index.html">Homepage</a></h4>
								</div>
							</section>

					</div>


			</body>
		</html>
