<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body>



				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
				<nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="./../portfolio.html">Portfolio</a></li>
              <li><a href="./../statistics.html">Statistics</a></li>
							<li><a href="./../reading-list.html">Books</a></li>
							<li><a href="./../coding-challenge-solutions.html">Coding Solutions</a></li>
              <li><a href="./../login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>Implement an exponent function</h2>
						<h6>The Exponentiation Operator explained using <i>Math.pow</i></h6>
						<br/>
						If you want to do computation to any power in today's Javascript, there is no point avoiding the Math.pow function. With this, you can pass in a <i>base</i> and an <i>exponent</i> and you will get in return the result of raising that base to the power exponent. Here are some examples:
						<pre><code>

var squared = function(x) {
	return Math.pow(x, 2);
}

var cubed = function(x) {
	return Math.pow(x, 3);
}

var fourthPower(x) {
	return Math.pow(x, 4);
}

// OR USING ES6 -

const squared = x => Math.pow(x, 2);
const cube = x => Math.pow(x, 3);
const fourthPower = x => Math.pow(x, 4);

// RESULTS
square(4)
// 16
cube(8)
// 512
fourthPower(5)
// 625
						</code></pre>



					</div>
					</header>
							<!-- Footer -->
							<section id="footer">
								<div align="center">
									<h4><a href="../../view/coding-challenge-solutions.html">More Solutions</a></h4>
									<h4>Next Solution</h4>
									<h4><a href="../../index.html">Homepage</a></h4>
								</div>
							</section>

					</div>


			</body>
		</html>
