<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>
	<body>



				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../../index.html">Home</a></li>
              <li><a href="./../portfolio.html">Portfolio</a></li>
              <li><a href="./../statistics.html">Statistics</a></li>
							<li><a href="./../reading-list.html">Books</a></li>
							<li><a href="./../coding-challenge-solutions.html">Coding Solutions</a></li>
              <li><a href="./../login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>The Island Problem</h2>
						<h6>Leetcode > 200. Number of Islands</h6>
						<p>Given a 2d grid map of '1's (land) and '0's (water), count the number of islands. An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically. You may assume all four edges of the grid are all surrounded by water.</p>
						<b>Example 1</b><br/>
							<pre><code>
11110
11010
11000
00000
							</pre></code>
						<i><b>Answer</b></i>
						1<br/><br/>

						<b>Example 2</b><br/>
							<pre><code>
11000
11000
00100
00011
							</pre></code>
							<i><b>Answer</b></i>
							3<br/><br/>

						<b>Solution</b><br/>
							<pre><code>
/**
 * @param {character[][]} grid
 * @return {number}
 */
var numIslands = function(grid) {
        var len = grid.length,
        result = 0,
        len1,
        i,
        j;

    if (len === 0) {
        return 0;
    }

    len1 = grid[0].length;

    if (len1 === 0) {
        return 0;
    }

    for (i = 0; i < len; i++) {
        for (j = 0; j < len1; j++) {
            if (grid[i][j] !== '1') {
                continue;
            }

            result++;
            dfs(grid, i, j, len, len1);
        }
    }

    return result;
};

function dfs(grid, i, j, len, len1) {
    if (i >= len || j >= len1 || i < 0 || j < 0) {
        return;
    }

    if (grid[i][j] === '1') {
        grid[i][j] = '0';
        dfs(grid, i - 1, j, len, len1);
        dfs(grid, i, j - 1, len, len1);
        dfs(grid, i + 1, j, len, len1);
        dfs(grid, i, j + 1, len, len1);
    }
};
							</code></pre>
					</div>
					</header>
							<!-- Footer -->
							<section id="footer">
								<div align="center">
									<h4><a href="../../view/coding-challenge-solutions.html">More Solutions</a></h4>
									<h4>Next Solution</h4>
									<h4><a href="../../index.html">Homepage</a></h4>
								</div>
							</section>

					</div>


			</body>
		</html>
