<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<div class="inner">
						<h2>Menu</h2>
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="./portfolio.html">Portfolio</a></li>
							<li><a href="./statistics.html">Statistics</a></li>
							<li><a href="./reading-list.html">Books</a></li>
							<li><a href="./coding-challenge-solutions.html">Coding Solutions</a></li>
							<li><a href="./login.html">My Resume</a></li>
						</ul>
						<a href="#" class="close">Close</a>
					</div>
				</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Cracking the coding interview</h2>
								<p>A list of solutions to commonly asked coding interview questions</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class ="inner">
								<h3 class="major">General</h3>
								<ul class="alt">
									<li><a href="./coding-challenge-solutions/fizz-buzz.html">Implement Fizz/Buzz</a></li>
									<li><a href="./coding-challenge-solutions/fibonacci-sequence.html">Write fibbonaci iteratively and recursively</a></li>
									<li><a href="./coding-challenge-solutions/prime-numbers-1-100-javascript.html">Print all prime numbers between 1-100</a></li>
									<li><a href="./coding-challenge-solutions/dynamic-programming.html">Explain Dynamic Programming</a></li>
									<li><a href="./coding-challenge-solutions/binary-form-of-an-int.html">Write a function that prints out the binary form of an int</li>
									<li><a href="./coding-challenge-solutions/implement-parseInt.html">Implement parseInt</li>
									<li><a href="./coding-challenge-solutions/implement-squareroot.html">Implement squareroot function</li>
									<li><a href="./coding-challenge-solutions/implement-an-exponent-function.html">Implement an exponent function</li>
									<li><a href="./coding-challenge-solutions/multiplication-without-operator.html">Write a multiply function that multiples 2 integers without using *</li>
									<li><a href="./coding-challenge-solutions/implement-randSeven().html">Write a function that generates a random array of 7ints between 1-7</li>
									<li><a href="./coding-challenge-solutions/island-problem.html">Given a 2D array of 1s and 0s, count the number of "islands of 1s" (e.g. groups of connecting 1s)</li>
									<li><a href="./coding-challenge-solutions/find-the-next-perfect-square.html">Find the next perfect square</li>
									<li><a href="./coding-challenge-solutions/growth-of-a-population.html">Growth of a population</li>
									<li><a href="./coding-challenge-solutions/the-sum-of-two-numbers.html">Find the sum of all integers between two numbers</li>
									<li><a href="./coding-challenge-solutions/sum-of-two-lowest-integers.html">Find the sum of the two lowest integers</li>
								</ul>
								<h3 class="major">Arrays</h3>
								<ul class="alt">
									<li><a href="./coding-challenge-solutions/most-frequent-int-in-array.html">Find the most frequent integer in an array</li>
									<li>Find the common elements of 2 int arrays</li>
									<li>Find the only element in an array that only occurs once.</li>
									<li>Implement binary search of a sorted array of integers</li>
									<li><a href="./coding-challenge-solutions/min-max.html">Find the min/max integers in an array</li>
									<li><a href="./coding-challenge-solutions/lonely-integer.html">Bit Manipulation: Lonely Integer</li>
									<li><a href="./coding-challenge-solutions/arrays-left-rotation.html">Rotate array of X elements to the left, X times</a></li>
									<li><a href="./coding-challenge-solutions/equal-sides-of-an-array.html">Find the middle number of an array with two equal sides</a></li>
								</ul>
								<h3 class="major">Strings</h3>
								<ul class="alt">
									<li>Find the first non-repeated character in a String</li>
									<li><a href="./coding-challenge-solutions/find-the-vowels-in-a-word.html">Find the vowels in a word</li>
									<li>Reverse a String iteratively and recursively</li>
									<li><a href="./coding-challenge-solutions/making-anagrams.html">Determine if 2 Strings are anagrams</li>
									<li>Check if String is a palindrome</li>
									<li>Check if a String is composed of all unique characters</li>
									<li>Determine if a String is an int or a double</li>
									<li><a href="./coding-challenge-solutions/shortest-word.html">Find the length of the shortest word in a String</li>
									<li>Print all permutations of a String</li>
									<li><a href="./coding-challenge-solutions/like-function.html">Implement Facebook's 'like' function using strings</li>
									<li><a href="./coding-challenge-solutions/write-number-in-expanded-form.html">Write number is expanded form</li>
								</ul>
								<h3 class="major">Trees</h3>
								<ul class="alt">
									<li><a href="./coding-challenge-solutions/BST.html">Implement a BST with insert and delete functions</li>
									<li><a href="./coding-challenge-solutions/BFS-DFS.html">Print a tree using BFS and DFS</li>
									<li><a href="./coding-challenge-solutions/is-BST.html">Write a function that determines if a tree is a BST</li>
									<li><a href="./coding-challenge-solutions/smallest-element-in-BST.html">Find the smallest element in a BST</li>
									<li>Find the 2nd largest number in a BST</li>
									<li>Given a binary tree which is a sum tree (child nodes add to parent), write an algorithm to determine whether the tree is a valid sum tree</li>
									<li>Find the distance between 2 nodes in a BST and a normal binary tree</li>
									<li>Print the coordinates of every node in a binary tree, where root is 0,0</li>
									<li>Print a tree by levels</li>
									<li>Given a binary tree which is a sum tree, write an algorithm to determine whether the tree is a valid sum tree</li>
									<li>Given a tree, verify that it contains a subtree.</li>
									<li>Find the max distance between 2 nodes in a BST.</li>
									<li>Construct a BST given the pre-order and in-order traversal Strings</li>
								</ul>
								<h3 class="major">Stacks, Queues, and Heaps</h3>
								<ul class="alt">
									<li><a href="./coding-challenge-solutions/implement-a-stack.html">Implement a stack with push and pop functions</li>
									<li>Implement a queue with queue and dequeue functions</li>
									<li>Find the minimum element in a stack in O(1) time</li>
									<li>Write a function that sorts a stack (bonus: sort the stack in place without extra memory)</li>
									<li>Implement a binary min heap. Turn it into a binary max heap</li>
									<li>Implement a queue using 2 stacks</li>
								</ul>
								<h3 class="major">Linked Lists</h3>
								<ul class="alt">
									<li>Implement a linked list (with insert and delete functions)</li>
									<li>Find the Nth element in a linked list</li>
									<li>Remove the Nth element of a linked list</li>
									<li>Check if a linked list has cycles</li>
									<li>Given a circular linked list, find the node at the beginning of the loop. Example: A->B->C->D->E->C, C is the node that begins the loop</li>
									<li>Check whether a link list is a palindrome</li>
									<li>Reverse a linked list iteratively and recursively</li>
								</ul>
								<h3 class="major">Sorting</h3>
								<ul class="alt">
									<li><a href="./coding-challenge-solutions/sorting-bubble-sort.html">Implement bubble sort</a></li>
									<li>Implement selection sort</li>
									<li>Implement insertion sort</li>
									<li>Implement merge sort</li>
									<li>Implement quick sort</li>
								</ul>
							</div>
							</div>
					</section>

					<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>I would love to hear from you. If you have an idea, want me to work for you or just want to hang and grab a coffee, please contact me using the form or email below. Muchos Gracia.</p>
							<div style="display:none;" id="thankyou_message">
								<h3>Thanks for contacting me! I'll get back to you very soon</h3>
							</div>
							<form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbz48T4MXfSTi94U7ZK0XUWmsWQ1dCX9Zkt8_v02rZ9j5DRQr0c/exec">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-home">
									San Francisco<br />
								</li>
								<li class="fa-envelope"><a href="mailto:djlowes@gmail.com?Subject=Hey%20djlowes!">djlowes@gmail.com</a></li>
								<li class="fa-github"><a href="http://www.github.com/djlowes">github.com/djlowes</a></li>
								<li class="fa-twitter"><a href="http://www.twitter.com/djlowes">twitter.com/djlowes</a></li>
								<li class="fa-facebook"><a href="http://www.facebook.com/djlowes">facebook.com/djlowes</a></li>
								<li class="fa-instagram"><a href="http://www.instagram.com/russell_westbark">instagram.com/russell_westbark</a></li>
							</ul>
							<ul class="copyright">
								<li>A <a href="http://html5up.net">Html5up</a> Design</li>
							</ul>
						</div>
					</section>

					<!-- Scripts -->
					<script src="../assets/js/jquery.bubble.text.js" /></script>
					<script src="../assets/js/email.js" /></script>
					<script src="../assets/js/skel.min.js"></script>
					<script src="../assets/js/jquery.min.js"></script>
					<script src="../assets/js/jquery.scrollex.min.js"></script>
					<script src="../assets/js/util.js"></script>
					<script src="../assets/js/main.js"></script>
					<script src="../assets/js/form-handler.js"></script>

			</body>

			</html>
