<!DOCTYPE HTML>
<html>
	<head>
		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../index.html">Home</a></li>
              <li><a href="./portfolio.html">Portfolio</a></li>
              <li><a href="./statistics.html">Statistics</a></li>
              <li><a href="./login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Cracking the coding interview</h2>
								<p>A list of solutions to commonly asked coding interview questions</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class ="inner">
								<h3 class="major">General</h3>
								<ul class="alt">
									<li>Find the most frequent integer in an array</li>
									<li>Find pairs in an integer array whose sum is equal to 10 (bonus: do it in linear time)</li>
									<li>Given 2 integer arrays, determine if the 2nd array is a rotated version of the 1st array. Ex. Original Array A={1,2,3,5,6,7,8} Rotated Array B={5,6,7,8,1,2,3}</li>
									<li>Write fibbonaci iteratively and recursively (bonus: use dynamic programming)</li>
									<li>Find the only element in an array that only occurs once.</li>
									<li>Find the common elements of 2 int arrays</li>
									<li>Implement binary search of a sorted array of integers</li>
									<li>Implement binary search in a rotated array (ex. {5,6,7,8,1,2,3})</li>
									<li>Use dynamic programming to find the first X prime numbers</li>
									<li>Write a function that prints out the binary form of an int</li>
									<li>Implement parseInt</li>
									<li>Implement squareroot function</li>
									<li>Implement an exponent function (bonus: now try in log(n) time)</li>
									<li>Write a multiply function that multiples 2 integers without using *</li>
									<li>HARD: Given a function rand5() that returns a random int between 0 and 5, implement rand7()</li>
									<li>HARD: Given a 2D array of 1s and 0s, count the number of "islands of 1s" (e.g. groups of connecting 1s)</li>
								</ul>
								<h3 class="major">Strings</h3>
								<ul class="alt">
									<li>Find the first non-repeated character in a String</li>
									<li>Reverse a String iteratively and recursively</li>
									<li>Determine if 2 Strings are anagrams</li>
									<li>Check if String is a palindrome</li>
									<li>Check if a String is composed of all unique characters</li>
									<li>Determine if a String is an int or a double</li>
									<li>HARD: Find the shortest palindrome in a String</li>
									<li>HARD: Print all permutations of a String</li>
									<li>HARD: Given a single-line text String and a maximum width value, write the function 'String justify(String text, int maxWidth)' that formats the input text using full-justification, i.e., extra spaces on each line are equally distributed between the words; the first word on each line is flushed left and the last word on each line is flushed right</li>
								</ul>
								<h3 class="major">Trees</h3>
								<ul class="alt">
									<li>Implement a BST with insert and delete functions</li>
									<li>Print a tree using BFS and DFS</li>
									<li>Write a function that determines if a tree is a BST</li>
									<li>Find the smallest element in a BST</li>
									<li>Find the 2nd largest number in a BST</li>
									<li>Given a binary tree which is a sum tree (child nodes add to parent), write an algorithm to determine whether the tree is a valid sum tree</li>
									<li>Find the distance between 2 nodes in a BST and a normal binary tree</li>
									<li>Print the coordinates of every node in a binary tree, where root is 0,0</li>
									<li>Print a tree by levels</li>
									<li>Given a binary tree which is a sum tree, write an algorithm to determine whether the tree is a valid sum tree</li>
									<li>Given a tree, verify that it contains a subtree.</li>
									<li>HARD: Find the max distance between 2 nodes in a BST.</li>
									<li>HARD: Construct a BST given the pre-order and in-order traversal Strings</li>
								</ul>
								<h3 class="major">Stacks, Queues, and Heaps</h3>
								<ul class="alt">
									<li>Implement a stack with push and pop functions</li>
									<li>Implement a queue with queue and dequeue functions</li>
									<li>Find the minimum element in a stack in O(1) time</li>
									<li>Write a function that sorts a stack (bonus: sort the stack in place without extra memory)</li>
									<li>Implement a binary min heap. Turn it into a binary max heap</li>
									<li>HARD: Implement a queue using 2 stacks</li>
								</ul>
								<h3 class="major">Linked Lists</h3>
								<ul class="alt">
									<li>Implement a linked list (with insert and delete functions)</li>
									<li>Find the Nth element in a linked list</li>
									<li>Remove the Nth element of a linked list</li>
									<li>Check if a linked list has cycles</li>
									<li>Given a circular linked list, find the node at the beginning of the loop. Example: A->B->C->D->E->C, C is the node that begins the loop</li>
									<li>Check whether a link list is a palindrome</li>
									<li>Reverse a linked list iteratively and recursively</li>
								</ul>
								<h3 class="major">Sorting</h3>
								<ul class="alt">
									<li>Implement bubble sort</li>
									<li>Implement selection sort</li>
									<li>Implement insertion sort</li>
									<li>Implement merge sort</li>
									<li>Implement quick sort</li>
								</ul>
							</div>
							</div>
					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
							<form method="post" action="#">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li>
								<li class="fa-phone">(000) 000-0000</li>
								<li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
		<!-- Scripts -->
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="assets/js/form-handler.js"></script>

	</body>
</html>
