<!DOCTYPE HTML>

<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Login Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google-signin-client_id" content="736594807404-tcp20nq751k1t5j0ovfsnu3cts1ssjtc.apps.googleusercontent.com" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	<body>


				<!-- Header -->
					<header>
						<div id="loginpage">
						<h1><a href="../index.html">David Lowes</a></h1>
					</div>
					</header>


<div id ="login">
	<h2>Access My Resume</h2>
		<p> You're about to learn a lot about me. Let me learn a little about you. I only ask for your email address and I promise not to spam you. You can login with your google account below.</p>
			<div>
				<p>
					<button class="button special" onclick="aa()">Login with Google</button>
				</p>
		</div>
</div>

<script>
function aa() {
	alert("I have removed this resource. Feel free to find me on LinkedIn to learn more - www.linkedin.com/in/djlowes");
}
</script>




		<!-- Scripts -->
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
