<!DOCTYPE HTML>
<html>
	<head>
		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../index.html">Home</a></li>
              <li><a href="./portfolio.html">Portfolio</a></li>
              <li><a href="./statistics.html">Statistics</a></li>
              <li><a href="./login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>My Portfolio</h2>
								<p>Browse through my projects, click through to the live sites or checkout the code <a href="https://github.com/djlowes" class="special">here</a></p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section class="features">
                    <article>
          						<a href="https://sleepy-journey-56725.herokuapp.com/" target="_blank" class="image"><img src="../assets/images/cryptosim.png" alt="cryptosim cryptocurrency trading platform" /></a>
          						<h3 class="major">Cryptosim</h3>
          						<p>A cryptocurrency trading platform that allows users to 'test before they invest' with monopoly money and live trading prices.</p>
          						<pre><code>Node.js | Express.js | MySQL | Sequelize | Passport.js | Charts.js | Bootstrap</code></pre>
          					</article>
          					<article>
          						<a href="https://frozen-brushlands-37289.herokuapp.com" target="_blank" class="image"><img src="../assets/images/review_butler.png" alt="Review Butler" /></a>
          						<h3 class="major">Review Butler</h3>
          						<p>A React App that uses AI to understand the context and sentiment of customer reviews before generating a custom response on behalf of the business owner.</p>
          						<pre><code>Google Natural Language API | React.js | Node.js | Express.js | MongoDB | Mongoose | Passport.js | Materialize</code></pre>
          					</article>
          					<article>
          						<a href="https://powerful-falls-30211.herokuapp.com/" target="_blank" class="image"><img src="../assets/images/polify.png" alt="Polify" /></a>
          						<h3 class="major">Polify</h3>
          						<p>Using facial recognition technology, Polify analyzes the data of the current US congressman's emotions based on their official profile photos.</p>
          						<pre><code>Microsoft Azure Emotion API | Node.js | Handlebars.js | JQuery | AJAX | Chart.js | AMCharts | Bootstrap</code></pre>
          					</article>
          					<article>
          						<a href="http://www.ebrandz.com.au" target="_blank" class="image"><img src="../assets/images/ebrandz2.png" alt="ebrandz website" /></a>
          						<h3 class="major">eBrandz</h3>
          						<p>Website design for eBrandz Australia using a fellow YC Alumni's website building platform.<br>
											<i><a href = "www.webflow.com"> > Webflow</a></i></p>
          						<pre><code>Webflow editor -  HTML | CSS</code></pre>
          					</article>
										<article>
											<a href="http://www.snappr.co/photo-analyzer" target="_blank" class="image"><img src="../assets/images/analyzer-copy.png" alt="Snappr photo analyzer" /></a>
											<h3 class="major">Snappr photo analyzer</h3>
											<p>AI that tells you if your profile photo is good. Get a Free Analysis of Your LinkedIn Photo and Tips on How To Improve it.</p>
											<pre><code>Marketing | Business Development</code></pre>
										</article>
										<article>
											<a href="https://www.geelongscelebrant.com/" target="_blank" class="image"><img src="../assets/images/mum-site.png" alt="Geelong's Celebrant" /></a>
											<h3 class="major">Geelong's Celebrant</h3>
											<p>A static HTML website for my mum!.<br/>
											<i>Merry Christmas Mum!</i><br/>
											❤ </p>
											<pre><code> HTML | Javascript | CSS | Bootstrap </code></pre>
										</article>
										<article>
											<a href="https://young-wildwood-39493.herokuapp.com/" target="_blank" class="image"><img src="https://media.giphy.com/media/3oEdv2qNBprY4gDxMk/giphy.gif" height="300" alt="" /></a>
											<h3 class="major">NBA Player-me</h3>
											<p>A compatibility-based application that matches users with current NBA players based on personality attributes. See which NBA you are closest matched to!</p>
											<pre><code> MongoDB | Mongoose | Node.js | Express.js | Handlebars.js | Axios | MVC</code></pre>
										</article>
										<article>
											<a href="https://shielded-earth-65765.herokuapp.com/" target="_blank" class="image"><img src="../assets/images/fantasy.png" height="300" alt="" /></a>
											<h3 class="major">NBA Fantasy News Journal</h3>
											<p>An easy to read one page app that scrapes for the latest content in NBA fantasy news, including injury updates, trade rumors and more.</p>
											<pre><code> Node.js | Express.js | Handlebars.js | JQuery | AJAX | Bootstrap | Materialize</code></pre>
										</article>

									</section>

								</div>
							</div>

					</section>

          <!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>I would love to hear from you. If you have an idea, want me to work for you or just want to hang and grab a coffee, please contact me using the form or email below. Muchos Gracia.</p>
							<div style="display:none;" id="thankyou_message">
								<h3>Thanks for contacting me! I'll get back to you very soon</h3>
							</div>
							<form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbz48T4MXfSTi94U7ZK0XUWmsWQ1dCX9Zkt8_v02rZ9j5DRQr0c/exec">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-home">
									San Francisco<br />
								</li>
								<li class="fa-envelope"><a href="mailto:djlowes@gmail.com?Subject=Hey%20djlowes!">djlowes@gmail.com</a></li>
								<li class="fa-github"><a href="http://www.github.com/djlowes">github.com/djlowes</a></li>
								<li class="fa-twitter"><a href="http://www.twitter.com/djlowes">twitter.com/djlowes</a></li>
								<li class="fa-facebook"><a href="http://www.facebook.com/djlowes">facebook.com/djlowes</a></li>
								<li class="fa-instagram"><a href="http://www.instagram.com/russell_westbark">instagram.com/russell_westbark</a></li>
							</ul>
							<ul class="copyright">
								<li>A <a href="http://html5up.net">Html5up</a> Design</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="assets/js/form-handler.js"></script>

	</body>
</html>
