<!DOCTYPE HTML>
<html>
	<head>
		<title>David Lowes - Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../index.html">Home</a></li>
              <li><a href="./portfolio.html">Portfolio</a></li>
              <li><a href="./statistics.html">Statistics</a></li>
              <li><a href="./login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>My Portfolio</h2>
								<p>Browse the thumbnails, click through to the live sites or checkout the code <a href="https://github.com/djlowes" class="special">here</a></p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section class="features">
                    <article>
          						<a href="https://sleepy-journey-56725.herokuapp.com/" class="image"><img src="../assets/images/cryptosim.png" alt="cryptosim cryptocurrency trading platform" /></a>
          						<h3 class="major">Cryptosim</h3>
          						<p>Node.js, Express.js, Passport.js, Chart.js Sequelize, Passport.js Bootstrap</p>
          						<a href="#" class="special">Learn more</a>
          					</article>
          					<article>
          						<a href="http://www.snappr.co/photo-analyzer" class="image"><img src="../assets/images/review_butler.png" alt="Review Butler" /></a>
          						<h3 class="major">Review Butler</h3>
          						<p>React.js Node.js Express.js MongoDB, Mongoose, Materialize, Passport.js</p>
          						<a href="https://frozen-brushlands-37289.herokuapp.com/" class="special">Learn more</a>
          					</article>
          					<article>
          						<a href="#" class="image"><img src="../assets/images/polify.png" alt="polify" /></a>
          						<h3 class="major">Polify</h3>
          						<p>JQuery, AJAX, Javascript, HTML, CSS</p>
          						<a href="#" class="special">Learn more</a>
          					</article>
          					<article>
          						<a href="http://www.ebrandz.com.au" class="image"><img src="../assets/images/ebrandz2.png" alt="ebrandz website" /></a>
          						<h3 class="major">eBrandz</h3>
          						<p>Website design, website development, SEO, PPC, Facebook Ads, Email Marketing.</p>
          						<a href="#" class="special">Learn more</a>
          					</article>
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
                    <article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
                    <article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
                    <article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
                    <article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
                    <article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>

								</div>
							</div>

					</section>

          <!-- Footer -->
      		<section id="footer">
      			<div class="inner">
      				<h2 class="major">Get in touch</h2>
      				<p>I would love to hear from you. If you have an idea, want me to work for you or just want to hang and grab a coffee, please contact me using the form or email below. Muchos Gracia.</p>
      				<form method="post" action="#">
      					<div class="field">
      						<label for="name">Name</label>
      						<input type="text" name="name" id="name" />
      					</div>
      					<div class="field">
      						<label for="email">Email</label>
      						<input type="email" name="email" id="email" />
      					</div>
      					<div class="field">
      						<label for="message">Message</label>
      						<textarea name="message" id="message" rows="4"></textarea>
      					</div>
      					<ul class="actions">
      						<li><input type="submit" value="Send Message" /></li>
      					</ul>
      				</form>
      				<ul class="contact">
      					<li class="fa-home">
      						San Francisco<br />
      					</li>
      					<li class="fa-envelope"><a href="mailto:djlowes@gmail.com?Subject=Hey%20djlowes!">djlowes@gmail.com</a></li>
      					<li class="fa-github"><a href="http://www.github.com/djlowes">github.com/djlowes</a></li>
      					<li class="fa-twitter"><a href="http://www.twitter.com/djlowes">twitter.com/djlowes</a></li>
      					<li class="fa-facebook"><a href="http://www.facebook.com/djlowes">facebook.com/djlowes</a></li>
      					<li class="fa-instagram"><a href="http://www.instagram.com/russell_westbark">instagram.com/russell_westbark</a></li>
      				</ul>
      				<ul class="copyright">
      					<li>A <a href="http://html5up.net">Html5up</a> Design</li>
      				</ul>
      			</div>
      		</section>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
