<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Statistics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	<body>


		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
        <nav id="menu">
          <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
              <li><a href="../index.html">Home</a></li>
              <li><a href="./portfolio.html">Portfolio</a></li>
              <li><a href="./statistics.html">Statistics</a></li>
              <li><a href="./reading-list.html">Books</a></li>
              <li><a href="./coding-challenge-solutions.html">Coding Solutions</a></li>
              <li><a href="./login.html">My Resume</a></li>
            </ul>
            <a href="#" class="close">Close</a>
          </div>
        </nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>Reading List</h2>
						<p>Reading is fun. These are the books that have made the greatest impact on me, that I refer to often.</p>
					</div>
					</header>

					<div class="table-wrapperTwo">
						<table class="alt">
							<thead>
								<tr>
									<th>Book Title</th>
									<th>Author</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>The Art of Communication</td>
									<td>Thich Nhat Hanh</td>
								</tr>
                <tr>
									<td>Sapiens</td>
									<td>Yuval Noah Harari</td>
								</tr>
                <tr>
									<td>Tools of Titans</td>
									<td>Tim Ferriss</td>
								</tr>
                <tr>
									<td>The Checklist Manifesto</td>
									<td>Atul Gawande</td>
								</tr>
                <tr>
									<td>Moonwalking with Einstein</td>
									<td>Joshua Foer</td>
								</tr>
                <tr>
									<td>The Black Swan</td>
									<td>Nassim Nicholas Taleb</td>
								</tr>
                <tr>
									<td>The Heart of the Buddha's Teaching</td>
									<td>Thich Nhat Hanh</td>
								</tr>
                <tr>
									<td>The Art of Woo</td>
									<td>G. Richard Shell</td>
								</tr>
                <tr>
									<td>An Open Heart</td>
									<td>Dalai Lama</td>
								</tr>
                <tr>
									<td>Judgement Detox</td>
									<td>Gabrielle Bernstein</td>
								</tr>
                <tr>
									<td>Like a Virgin</td>
									<td>Richard Branson</td>
								</tr>
                <tr>
									<td>Awaken the Giant Within</td>
									<td>Tony Robbins</td>
								</tr>
                <tr>
									<td>Unlimited Power</td>
									<td>Tony Robbins</td>
								</tr>
                <tr>
									<td>The Psychology of Selling</td>
									<td>Brian Tracy</td>
								</tr>
                <tr>
                  <td>Goals</td>
                  <td>Brian Tracy</td>
                </tr>
                <tr>
                  <td>The 4 Hour Workweek</td>
                  <td>Tim Ferriss</td>
                </tr>
                <tr>
                  <td>The 4 Hour Body</td>
                  <td>Tim Ferriss</td>
                </tr>
                <tr>
                  <td>Tribe of Mentors</td>
                  <td>Tim Ferriss</td>
                </tr>
                <tr>
                  <td>The 22 Immutable Laws of Marketing</td>
                  <td>Al Ries & Jack Trout</td>
                </tr>
                <tr>
                  <td>Bold</td>
                  <td>Peter Diamandis</td>
                </tr>
                <tr>
                  <td>Status Anxiety</td>
                  <td>Alain de Botton</td>
                </tr>
                <tr>
                  <td>Tao Te Ching</td>
                  <td>Lao Tzu</td>
                </tr>
                <tr>
                  <td>Start with Why</td>
                  <td>Simon Sinek</td>
                </tr>
                <tr>
                  <td>Shantaram</td>
                  <td>Gregory David Roberts</td>
                </tr>
                <tr>
                  <td>Mindset</td>
                  <td>Carol S. Dweck</td>
                </tr>
                <tr>
                  <td>Authentic Happiness</td>
                  <td>Martin Seligman</td>
                </tr>
                <tr>
                  <td>Flourish</td>
                  <td>Martin Seligman</td>
                </tr>
                <tr>
                  <td>The Man Who Mistook His Wife for a Hat</td>
                  <td>Oliver Sacks</td>
                </tr>
                <tr>
                  <td>A Complaint Free World</td>
                  <td>Will Bowen</td>
                </tr>
                <tr>
                  <td>The Art of Happiness</td>
                  <td>Dalai Lama</td>
                </tr>
                <tr>
                  <td>Creating True Peace</td>
                  <td>Thich Nhat Hanh</td>
                </tr>
                <tr>
                  <td>The Lean Startup</td>
                  <td>Eric Ries</td>
                </tr>
                <tr>
                  <td>Seven Years in Tibet</td>
                  <td>Heinrich Harrer</td>
                </tr>
                <tr>
                  <td>Marching Powder</td>
                  <td>Rusty Young</td>
                </tr>
                <tr>
                  <td>Mr. Nice</td>
                  <td>Howard S. Marks</td>
                </tr>
                <tr>
                  <td>Angels & Demons</td>
                  <td>Dan Brown</td>
                </tr>
                <tr>
                  <td>Cross the Line</td>
                  <td>James Patterson</td>
                </tr>
                <tr>
                  <td>The Art of War</td>
                  <td>Sun Tsu</td>
                </tr>
                <tr>
                  <td>1984</td>
                  <td>George Orwell</td>
                </tr>
                <tr>
                  <td>Things Fall Apart</td>
                  <td>Chinua Achebe</td>
                </tr>
                <tr>
                  <td>The Power of Now</td>
                  <td>Eckhart Tolle</td>
                </tr>
                <tr>
                  <td>The Seven Spiritual Laws of Success</td>
                  <td>Deepak Chopra</td>
                </tr>
                <tr>
                  <td>The Secret</td>
                  <td>Rhonda Byrne</td>
                </tr>
                <tr>
                  <td>Awakening the Mind, Lightening the Heart</td>
                  <td>Dalai Lama</td>
                </tr>
                <tr>
                  <td>The Everything Groom Book</td>
                  <td>Shelly Hagen</td>
                </tr>
                <tr>
                  <td>Unlimited Memory</td>
                  <td>Grandmaster Kevin Horsley</td>
                </tr>
                <tr>
                  <td>Cracking the Sales Management Code</td>
                  <td>Jason Jordon</td>
                </tr>
							</tbody>
						</table>
					</div>
					</section>
	</div>


<script>
var age, daysBetweenDates;
daysBetweenDates = function(d1, d2) {
  var diffDays, oneDay;
  oneDay = 24 * 60 * 60 * 1000;
  diffDays = (d2 - Date.parse(d1)) / oneDay;
  return diffDays;
};

age = function() {
  $('#myAge').text(daysBetweenDates('Sep 26, 1984 08:00:00', new Date()) / 365);
};

married = function() {
	$('#married').text(daysBetweenDates('Oct 18, 2017 08:00:00', new Date()) / 365 * 12);
}

unmarried = function() {
	$('#unmarried').text(daysBetweenDates('Sep 26, 1984 08:00:00', 'Oct 18, 2017 08:00:00') / 365 * 12);
}

setInterval(age, 100);
setInterval(married, 100);
setInterval(unmarried, 100);
</script>


		<!-- Scripts -->
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
