<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114124298-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114124298-1');
		</script>

		<title>David Lowes - Statistics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	<body>


		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="../index.html">David Lowes</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="../index.html">Home</a></li>
								<li><a href="./portfolio.html">Portfolio</a></li>
								<li><a href="./statistics.html">Statistics</a></li>
								<li><a href="./reading-list.html">Books</a></li>
								<li><a href="./coding-challenge-solutions.html">Coding Solutions</a></li>
								<li><a href="./login.html">My Resume</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
				<section id="wrapper">
					<header>
					<div class="inner">
						<h2>Statistics</h2>
						<p>Well, this is intriguing that you want to know so much about me. I'm not going to give everything away, but here are some stats and facts about me, if you really still want to continue reading...</p>
					</div>
					</header>

					<div class="table-wrapper">
						<table class="alt">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Age</td>
									<td id="myAge"></td>
									<td>Years</td>
								</tr>
								<tr>
									<td>Height</td>
									<td>1.91</td>
									<td>Metres</td>
								</tr>
								<tr>
									<td>Weight</td>
									<td>92</td>
									<td>Kilograms</td>
								</tr>
								<tr>
									<td>Languages</td>
									<td>2.5</td>
									<td>Spoken languages</td>
								</tr>
								<tr>
									<td>Total distance travelled by air</td>
									<td>457,821</td>
									<td>Miles</td>
								</tr>
								<tr>
									<td>Total distance travelled by vehicle</td>
									<td>952,170</td>
									<td>Kilometres</td>
								</tr>
								<tr>
									<td>Total distance travelled by foot</td>
									<td>Not enough</td>
									<td>Feet</td>
								</tr>
								<tr>
									<td>Accuracy of above 3 statistics</td>
									<td>Low</td>
									<td>Accuracy</td>
								</tr>
								<tr>
									<td>Countries visited</td>
									<td>54</td>
									<td>Countries</td>
								</tr>
								<tr>
									<td>Total time spent outside home nation</td>
									<td>43800</td>
									<td>Hours</td>
								</tr>
								<tr>
									<td>Spouses</td>
									<td>1</td>
									<td>Wife</td>
								</tr>
								<tr>
									<td>Dogs</td>
									<td>1</td>
									<td>Mini Goldendoodle</td>
								</tr>
								<tr>
									<td>Cats</td>
									<td>0</td>
									<td>Feline</td>
								</tr>
								<tr>
									<td>Time spent married</td>
									<td id="married"></td>
									<td>Months</td>
								</tr>
								<tr>
									<td>Time spent unmarried</td>
									<td id="unmarried"></td>
									<td>Days</td>
								</tr>
								<tr>
									<td>Hearts broken</td>
									<td>Not Many</td>
									<td>💔</td>
								</tr>
								<tr>
									<td>First car</td>
									<td>Nissan Pulsar</td>
									<td>Circa 1989</td>
								</tr>
								<tr>
									<td>Sports played</td>
									<td>5</td>
									<td>Accompanied by 5 broken bones</td>
								</tr>
								<tr>
									<td>Favourite sports team</td>
									<td>Geelong Cats</td>
									<td>Footy (real footy)</td>
								</tr>
								<tr>
									<td>Bulls run with</td>
									<td>24</td>
									<td>🐮</td>
								</tr>
								<tr>
									<td>Distance travelled jumping out of planes</td>
									<td>15000</td>
									<td>Feet</td>
								</tr>
								<tr>
									<td>Distance travelled jumping with ropes</td>
									<td>100</td>
									<td>Metres</td>
								</tr>
								<tr>
									<td>Distance travelled in white water rapids</td>
									<td>15000</td>
									<td>Feet</td>
								</tr>
								<tr>
									<td>Biggest fish I have caught</td>
									<td>84</td>
									<td>Pounds</td>
								</tr>
								<tr>
									<td>Marathons run</td>
									<td>None</td>
									<td>Yet!</td>
								</tr>
								<tr>
									<td>Total social followers</td>
									<td>8,251</td>
									<td>Connections: Facebook, LinkedIn, Twitter, Instagram</td>
								</tr>
								<tr>
									<td>People that have visisted this site</td>
									<td>I'll tell you when I setup Analytics</td>
									<td></td>
								</tr>
								<tr>
									<td>Businesses founded</td>
									<td>1</td>
									<td>:-|</td>
								</tr>
								<tr>
									<td>Businesses sold</td>
									<td>1</td>
									<td>:-)</td>
								</tr>
								<tr>
									<td>Profit made</td>
									<td>Some - not much.</td>
									<td>:-(</td>
								</tr>
							</tbody>
						</table>
					</div>
					</section>
	</div>


<script>
var age, daysBetweenDates;
daysBetweenDates = function(d1, d2) {
  var diffDays, oneDay;
  oneDay = 24 * 60 * 60 * 1000;
  diffDays = (d2 - Date.parse(d1)) / oneDay;
  return diffDays;
};

age = function() {
  $('#myAge').text(daysBetweenDates('Sep 26, 1984 08:00:00', new Date()) / 365);
};

married = function() {
	$('#married').text(daysBetweenDates('Oct 18, 2017 08:00:00', new Date()) / 365 * 12);
}

unmarried = function() {
	$('#unmarried').text(daysBetweenDates('Sep 26, 1984 08:00:00', 'Oct 18, 2017 08:00:00') / 365 * 12);
}

setInterval(age, 100);
setInterval(married, 100);
setInterval(unmarried, 100);
</script>


		<!-- Scripts -->
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
